body {
    font-family: 'Teko', sans-serif;
    margin: 0%;
}

.orange-color {
    color: green;
}

h1 {
    font-size: 30px;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-weight {
    width: 40%;
    padding-left: 2%;
}

.half-weight img {
    width: 220px;
    padding-left: 3%;
}

.link-button {
    text-decoration: none;
    background-color: cornflowerblue;
    color: red;
    font-weight: 400;
    padding-right: 40px;
    padding-left: 30px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/pussy.jpg);
    background-repeat: no-repeat;
}

.color {
    color: brown;
}

.dream big {
    background-image: url(images/hardy.png);
    background-repeat: no-repeat;
}

.right {
    width: 220px;
}

.content {
    display: flex;
}

.website {
    box-shadow: 10px 10px 40px green;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.luck {
    font-size: 20px;
}

.experience {
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
}

#full-stake {
    border-left: 7px solid red;
}

#my-mine {
    border-left: 7px solid black;
}

footer {
    text-align: center;
}